
    body {
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        height: 100vh; /* Make sure the body covers the entire viewport height */
        background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(37, 93, 37) 50%); /* Use a linear gradient to create the split effect */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Use a default font */
        color: rgb(0, 0, 0); /* Set the text color to white for better visibility */
    }
    .navbar{
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 3000;
        cursor: pointer;
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    .navbar ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .navbar ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: rgb(221, 206, 32);
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navbar ul li:hover::after{
        width: 100%;
    }
    .content{
         width: 100%;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         text-align: center;
         color: black;
    }
    .content h1{
        font-size: 70px;
        margin-top: 80px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .content p{
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    button{
          width: 200px;
          padding: 15px 0;
          text-align: center;
          margin: 20px 10px;
          border-radius: 25px;
          font-weight: bold;
          border: 2px solid rgb(221, 206, 32);
          color: rgb(0, 0, 0);
          cursor: pointer;
          position: relative;
          overflow: hidden;
    }
    span{
        background: rgb(221, 206, 32);
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
    }
    button:hover span{
        width: 100%;
    }
    button:hover{
        border: none;
    }